<div id="<%= dom_id guest %>">
  <div>
    <p>
      <strong>Name</strong>
      <%= guest.full_name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= number_to_phone(guest.phone) %>
    </p>

    <p>
      <strong>Plus ones:</strong>
      <%= guest.plus_ones_count %>
    </p>
  </div>
</div>
