<div class="my-3">
  <h2 class="text-3xl font-bold py-4">Guests</h2>
  <%= link_to "New guest", new_admin_guest_path, class: "text-sky-600 hover:cursor-pointer" %>

  <div id="guests" class="py-3">
    <%= render @guests %>
  </div>

  <%== pagy_nav(@pagy) %>
</div>
