<div class="relative">
  <div class="grid place-content-center h-[100svh] bg-midnight-green text-white">
    <div class="text-center z-50">
      <p class="text-2xl font-sans">Venue</p>
      <p class="text-2xl font-sans">Codigo de Vestimenta</p>
      <p class="text-2xl font-sans">Regalos</p>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 z-0">
    <img src={~p"/images/leaves-01.svg"} alt="" class="h-40 md:h-96" />
  </div>
  <div class="absolute top-0 right-0 z-0">
    <img src={~p"/images/leaves-02.svg"} alt="" class="h-40 md:h-60" />
  </div>
</div>
