<div class="relative">
  <div class="grid place-content-center h-[100svh] bg-midnight-green text-white">
    <div class="z-50">
      <p class="text-5xl font-serif font-extrabold my-2">Hola <%= current_guest&.first_name %></p>
      <p class="text-2xl font-sans">Venue</p>
      <p class="text-2xl font-sans">Codigo de Vestimenta</p>
      <p class="text-2xl font-sans">Regalos</p>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 z-0">
    <%= image_tag("leaves-01.svg", class: "h-40 md:h-96") %>
  </div>
  <div class="absolute top-0 right-0 z-0">
    <%= image_tag("leaves-02.svg", class: "h-40 md:h-60") %>
  </div>
</div>
