<div class="relative">
  <div class="grid place-content-center h-[100svh] bg-midnight-green text-white">
    <div class="z-50">
      <p class="text-5xl font-serif font-extrabold my-2">Hola <%= current_guest&.first_name %></p>
      <p class="text-2xl font-sans">Venue</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.023491874021!2d-99.1666649241962!3d18.886038982279942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce75c1118eea7d%3A0x48e0c6fa5b7cbc8!2sJard%C3%ADn%20Fuentes%2022!5e0!3m2!1sen!2smx!4v1707969671071!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="text-2xl font-sans">Codigo de Vestimenta: Coctel</p>
      <p class="text-2xl font-sans">Regalos</p>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 z-0">
    <%= image_tag("leaves-01.svg", class: "h-40 md:h-96") %>
  </div>
  <div class="absolute top-0 right-0 z-0">
    <%= image_tag("leaves-02.svg", class: "h-40 md:h-60") %>
  </div>
</div>
