<div class="relative">
  <div class="bg-midnight-green text-white h-[100svh] flex md:items-center">
    <div class="flex flex-col md:flex-row md:flex-row-reverse z-50 max-w-5xl mx-auto py-4">
      <div class="w-full px-8">
        <p class="text-6xl font-serif font-extrabold capitalize mb-3">FAQ</p>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 z-0">
    <%= image_tag("leaves-01.svg", class: "h-56 md:h-96 hidden md:block") %>
  </div>
  <div class="absolute top-0 right-0 z-0">
    <%= image_tag("leaves-02.svg", class: "h-40 md:h-60 hidden md:block") %>
  </div>
</div>
