<%= turbo_frame_tag :remote_modal do %>
<dialog id="faq_modal" aria-labelledby="modal_title" data-controller="remote-modal" class="bg-orange-50 text-emerald-900 antialiased rounded-lg shadow-md backdrop:bg-black backdrop:opacity-50">
<div class="flex flex-col items-center mx-auto min-h-dvh">
  <div class="p-4">
    <div class="max-w-screen-md">
      <header>
        <form method="dialog" class="flex flex-row-reverse">
          <button type="submit">
            <i class="fas fa-times text-2xl text-emerald-900"></i>
          </button>
        </form>
        <p class="text-5xl font-serif font-extrabold text-emerald-900 capitalize text-center">Preguntas frecuentes</p>
      </header>
      <div class="pt-4">
        <p class="text-3xl font-serif mb-2 font-extrabold text-emerald-950">Sobre el lugar…</p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Cómo es el clima en la ubicación de la boda?</p>
        <p class="prose">Estaremos en verano y según Google, la temperatura en Cuernavaca ronda los 25 grados para finales de julio.</p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Hay opciones cercanas de hospedaje?</p>
        <p class="prose">
          Cuernavaca y sus alrededores son famosos para escape y descanso de fin de semana.  Desde AirBnb, hoteles, haciendas, y casas de huéspedes. Las opciones son numerosas,  siéntete libre de elegir el hospedaje que te resulte más cómodo.
          <br/>
          De momento no contamos con convenios de Hotel. Gran parte de nuestros invitados prefieren Abnb y están considerando opciones a menos de 5 minutos del Jardín, para llegar caminando.
        </p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Qué actividades puedo realizar en Cuernavaca?</p>
        <p class="prose">
          Aquí podrás disfrutar desde  museos, zonas arqueológicas hasta parques naturales.
          Te recomendamos echar un vistazo a este <a href="https://www.mexicodesconocido.com.mx/15-cosas-que-hacer-en-cuernavaca-y-alrededores.html">link</a>.
        </p>
      </div>
      <div class="pt-4">
        <p class="text-3xl font-serif mb-2 font-extrabold text-emerald-950">Vestimenta…</p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Hay algún color a evitar?</p>
        <p class="prose">
          Sí. Mujeres, esta vez se quedan en el closet vestidos blancos, beige, marfil, champagne, rosa claro, azul claro y cualquier color similar.
          <br/>
          Vestido rojo, ni pensarlo.
        </p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Puedo usar snickers (tennis)?</p>
        <p class="prose">
          Sí. Bienvenidos las y los bailadores que además de lucir guapos, necesitan comodidad en la pista.
        </p>
      </div>
      <div class="pt-4">
        <p class="text-3xl font-serif mb-2 font-extrabold text-emerald-950">Asistencia…</p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Cómo puedo confirmar mi asistencia a la boda?</p>
        <p class="prose">Solo tienes que presionar el botón de Confirmar mi asistencia. Posteriormente nuestra wedding planner se pondrá en  contacto contigo al teléfono con el que accedes a esta plataforma.</p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Qué pasa si no puedo asistir?</p>
        <p class="prose">
          No te preocupes, sabemos tu corazón y buenos deseos estarán con nosotros.
          <br/>
          Agradecemos que puedas enviarnos un mensaje lo antes posible. Nos hará felices saludarte  y saber  que a la distancia, celebras y te alegras con nosotros.
        </p>
      </div>
      <div class="py-4">
        <p class="text-2xl font-serif mb-2 font-extrabold text-emerald-900">¿Hay una fecha límite para confirmar?</p>
        <p class="prose min-h-40">Sí, tu ticket  estará apartado hasta el 30 de junio. Si el sistema no registra confirmación, tu ticket y acceso a este plataforma se eliminarán automáticamente.</p>
      </div>
    </div>
  </div>
</div>
</dialog>
<% end %>
