<nav class="p-4 flex items-center justify-between bg-white">
  <ul class="flex space-x-4">
    <li class="list-none flex items-center">
      <%= link_to admin_guests_path, class: "text-2xl font-semibold text-cyan-900 hover:text-sky-800 transition-colors duration-200 flex items-center" do %>
        <i class="fas fa-user text-cyan-900 mr-2"></i>
        Guests
      <% end %>
    </li>
    <!-- Add more list items here -->
  </ul>
</nav>
