<p>Signed as <%= Current.session_record.email %></p>

<h2>Login and verification</h2>

<div>
  <%= link_to "Change password", edit_admin_password_path %>
</div>


<h2>Access history</h2>

<div>
  <%= link_to "Devices & Sessions", admin_sessions_path %>
</div>

<br>

<%= button_to "Log out", admin_session_path(Current.session), method: :delete %>
