@import "fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "pagy_nav";

/* :root {
  --bg-primary: #266844;
  --text-primary: #333738;
  --color-accent: #ffc107;
} */

@layer utilities {
  .card-border {
    @apply border-4 p-4 sm:p-8 border-emerald-800/70 rounded-tl-lg rounded-br-lg;
  }

  .primary-button {
    @apply text-white bg-emerald-900 hover:bg-emerald-800 hover:cursor-pointer px-8 py-2.5 text-center shadow-sm shadow-gray-500;
  }

  .secondary-button {
    @apply text-emerald-800 bg-orange-50 hover:bg-emerald-800 hover:cursor-pointer px-8 py-2.5 text-center shadow-sm shadow-gray-500;
  }

  .box-shadow-ribbon {
    box-shadow: -8px 1px 1px 0px #FFF7ED, 20px 0px 0px 0px #FFF7ED, 0 0 8px #BD945A50;
  }

  .leaf-box-gradient::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1.25rem;
    /* Adjust the height of the gradient as needed */
    background: linear-gradient(to bottom, #FFF7ED4D, #FFF7ED);
    /* Adjust the colors and opacity stops as needed */
  }
}
