.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg bg-blue-200 px-3 py-1 text-sm font-semibold text-blue-500 shadow-md;

  &:hover {
    @apply bg-blue-300;
  }

  &:active {
    @apply bg-blue-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply cursor-default text-blue-400;

  &:hover {
    @apply bg-blue-200 text-blue-400;
  }

  &:active {
    @apply bg-blue-200 text-blue-400;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply cursor-pointer bg-blue-400 text-white;

  &:hover {
    @apply bg-blue-400 text-white;
  }

  &:active {
    @apply bg-blue-400 text-white;
  }
}

.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full bg-blue-200 px-3 py-1 text-sm font-semibold text-blue-500 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply rounded bg-white px-2;
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply cursor-pointer text-blue-800;
  }

  &:active {
    @apply text-blue-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply cursor-default text-blue-400;
}

:root {
  --bg-primary: #266844;
  /* --bg-primary: rgb(14 62 80 / var(--tw-bg-opacity));;  */
  /* --bg-primary: #F8F3ED ; Azul */
  --text-primary: #333738; /* Gris */
  --color-accent: #ffc107; /* Amarillo */
}

.bg-main-color {
  @apply bg-orange-50;
  /* background: rgb(14 62 80 / var(--tw-bg-opacity)); */
}

.main-card {
  /* background-color: var(--bg-primary); */
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strip-paper {
  @apply text-neutral-200;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;  /* height: 10px; */
  /* background-color: #fff; */
  /* border-left: 2px solid #ccc; */
  /* border-right: 2px solid #ccc; */
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0)); Degradado blanco */
  /* box-shadow:  -8px 1px 1px 0px #0e3e50, 20px 0px 0px 0px #0e3e50, 0 0 10px #00000080; */
  box-shadow:  -8px 1px 1px 0px #FFF7ED, 20px 0px 0px 0px #FFF7ED, 0 0 8px #00000050;
  /* Sombra interior */
  /* inset 0 -10px 10px rgba(0, 0, 0, 0.5); Sombra inferior */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1) inset; */
  /* box-shadow: 0px -5px 5px rgba(250, 250, 250, 1), -60px 5px 8px 6px #0E3E50, 0px 5px 5px rgba(250, 250, 250, 1); */
  display: block;
  color: var(--bg-primary);
  @apply bg-main-color;
  @apply max-w-screen-md;
  @apply py-3;
  z-index: 4

}

.leaf-container {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  z-index: 1;
  transform: translateY(-60%);

}

.leaf-container .leaf-box {
  position: relative;
  transform: scale(0.85); 
}



.leaf-container .leaf-box::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height of the gradient as needed */
  background: linear-gradient(to bottom, #FFF7ED4D, #FFF7ED); /* Adjust the colors and opacity stops as needed */
}

.card {
  padding: 20px;
  box-shadow: 3px 1px 9px 1px #cdcdcd;
}


.card-border {
  position: absolute;
  /* content: ""; */
  width: 100%;
  height: 100%;
  border: 8px solid #BD945A;
  top: 30px;
  right: 0;
  left: 20px;
  bottom:0;
  box-sizing: border-box;
  z-index: 1;
}